
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-title">Введенная информация не совпадает с оригинальным продуктом</div>
		<a href="" class="btn">
			<div class="button-title">Сообщить анонимно о подозрительном продукте</div>
		</a>
		<form action="/" class="frm-footer">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" placeholder="Ваше имя" class="form-input">
				</div>
				<div class="frm-field">
					<input type="tel" placeholder="Ваш телефон" class="form-input">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field field-full">
					<textarea class="form-input" placeholder="Текст сообщения"></textarea>
				</div>
			</div>
			<div class="frm-row">
			</div>
			<div class="frm-row-submit">
				<div class="frm-field field-info">
					Нажимая на кнопку «Зарегистрироваться», вы соглашаетесь с <a href="" class="link-main">политикой конфиденциальности</a> <a href="" class="link-main">пользовательским соглашением</a>
				</div>
				<div class="frm-field field-button">
					<button type="submit" class="btn">Отправить</button>
				</div>
			</div>
		</form>
	</div>
</footer>
<!-- /footer -->
